body {
  margin: auto;
}

.hotel {
  border: solid 2px #007ced;
  background-color: #222222;
  text-align: center;
}

.hotel-header {
  display: inline-block;
}

.text {
  color: #ffa45b;
  font-size: 2.5rem;
}

.av-rooms {
    border: solid 3px #007ced;
    /* border-radius: 50%; */
    width: 50%;
    margin-left: 25%;
}
